@model Tour.Admin.Models.SysCustomerVM
@using Tour.Admin

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @await Html.PartialAsync("_Partial_HeaderInfo")
            </div>
            <div class="col-sm-6">
                <button type="button"
                        class="btn btn-success btn-sm float-sm-right btn-popup-size"
                        data-toggle="modalMenu"
                        data-target="#MenuModal"
                        data-width="1000"
                        data-height="600"
                        data-url="@Url.Action("_Create", "SysCustomer")">
                    <span class='fa fa-plus fa-fw'></span>Thêm mới
                </button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-footer clearfix">
                        @using (Html.BeginForm("_Index", "SysCustomer", FormMethod.Get, new { @class = "form-sm form-load-ajax", id = "frmNews", data_load_view = "divListDetail" }))
                        {
                            <div class="row m-0">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Từ khóa</label>
                                        @Html.TextBoxFor(m => m.keyWord, new { @class = "form-control", @placeholder = "Nhập từ khóa" })
                                        @Html.TextBoxFor(m => m.p, new { @class = "form-control", @placeholder = "Nhập từ khóa", @hidden = "hidden" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="btn btn-primary" id="btnSearch" style="margin-top:5px">
                                            <span class='fa fa-search'></span>
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="divListDetail" class="panel-body pn">
                        @await Html.PartialAsync("_Index", Model)
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts{
    <script src="~/assets/js/syscustomer.js"></script>
    <script>
        var RoleCreateURL = $('#menuModalPlace');
        $(function () {
            $('button[data-toggle="modalMenu"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    RoleCreateURL.html(data);
                    RoleCreateURL.find('.modal').modal('show');
                })
            })
        })
    </script>
}

<div id="menuModalPlace">

</div>
