<ol class="breadcrumb float-sm-left">
    <li class="breadcrumb-item"><span class="fas fa-home"></span></li>
    <li class="breadcrumb-item">@ViewBag.ControllerName</li>
    <li class="breadcrumb-item active">@ViewBag.ActionName</li>
</ol>