@{
    ViewData["Title"] = "Contact";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('../assert/images/img_bg_3.jpg')">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">

                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Đừng ngại ngùng</span>
                        <h1>Hãy liên lạc với chúng tôi</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>


<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <h3>Liên hệ</h3>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="name">Tên</label>
                                <input type="text" id="name" class="form-control" placeholder="Tên của bạn">
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="email">Email</label>
                                <input type="text" id="email" class="form-control" placeholder="Email của bạn">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="subject">Chủ đề</label>
                                <input type="text" id="subject" class="form-control" placeholder="Chủ đề của mail">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="message">Tin nhắn</label>
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Hãy viết gì đó"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gửi" class="btn btn-primary">
                        </div>

                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="gtco-contact-info">
                        <h3>Thông tin liên lạc</h3>
                        <ul>
                            <li class="address">371 Nguyễn Kiệm, phường 3 <br> quận Gò Vấp, thành phố Hồ Chí Minh</li>
                            <li class="phone"><a href="tel://094940301">+84 949 403 701</a></li>
                            <li class="email"><a href="mailto:1851050128thanh@ou.edu.vn">1851050128thanh@ou.edu.vn</a></li>
                            <li class="email"><a href="mailto:1851050166truong@ou.edu.vn">1851050166truong@ou.edu.vn</a></li>
                            <li class="url"><a href="https://www.facebook.com/Error.User.Profile.Load/">Nguyễn Nhật Thanh</a></li>
                            <li class="url"><a href="https://www.facebook.com/Error.User.Profile.Load/">Phạm Duy Trường</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>